# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# =========================
# Django
# =========================
db.sqlite3
staticfiles/
media/

# =========================
# Logs
# =========================
*.log
out*
error.txt

# =========================
# Node / Frontend
# =========================
node_modules/
.next/
dist/
build/

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.swp
*.swo